data/pdf
data/images
data/test
aws_screanshots/api_Role
aws_screanshots/API_Gateway/Screenshot from 2024-05-16 19-17-30.png
aws_screanshots/API_Gateway/Screenshot from 2024-05-16 19-22-43.png
aws_screanshots/API_Gateway/Screenshot from 2024-05-16 19-22-48.png
aws_screanshots/API_Gateway/Screenshot from 2024-05-16 19-18-34.png
aws_screanshots/API_Gateway/Screenshot from 2024-05-16 19-32-15.png
aws_screanshots/API_Gateway/Screenshot from 2024-05-16 19-32-20.png
aws_screanshots/API_Gateway/Screenshot from 2024-05-16 19-35-09.png
aws_screanshots/API_Gateway/Screenshot from 2024-05-16 19-23-48.png
aws_screanshots/lambda_registration/Screenshot from 2024-05-16 13-07-07.png